<h1>Ask your coach something, stupid!</h1>


<div id="shittyform">
    <form action="/answer">
    <input type="text" name="answer" placeholder="What would you like to ask?">
    <input type="submit" value="Ask!">
    </form>
</div>